@import "tailwindcss";
@layer {
  * {
    box-sizing: border-box;
  }
  body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    @apply block bg-gray-100;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  .success {
    @apply text-green-600;
  }
  .error {
    @apply text-red-600;
  }
  img {
    @apply w-full;
  }
  .btn-enhance {
    @apply border border-gray-300 px-5 rounded-full;
  }
  .btn-enhance:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed; /* Shows a 'no entry' sign on hover */
    opacity: 0.6; /* Makes the button appear faded */
  }
}
